@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);

body {
  margin: 0;
  padding: 0;
}

.Valid-info {
  position: relative;
  width: 0;
  height: 0;
  bottom: 2.2em;
  left: 10em;
  color: #38393d;
  transition-property: color;
  transition-duration: 1s;
}

.Valid-info:hover {
  color: #777982;
}

.Form-help {
  position: relative;
  font-family: Andale Mono, AndaleMono, monospace;
  text-align: center;
  color: #d0d8e0;
  height: 0;
  width: 400px;
  bottom: 4em;
}

.Form-help-enter {
  opacity: 0.01;
}

.Form-help-enter-active {
  opacity: 1;
  transition: all 1s ease-in;
}

.Form-help-exit-active {
  opacity: 0;
  transition: all 1s ease-out;
}
